@model Foto

@{
    ViewData["Title"] = "Dettaglio";
}
<div class="text-end">
    <a href="@Url.Action("index", "Foto")" class="fs-2 me-md-2"><i class="bi bi-arrow-left"></i></a>
</div>
<div class="text-center container-xxl">

    <h1 class="mb-4"> @ViewData["Title"]</h1>

    <ul class="list-unstyled d-grid gap-3">
        <li>Id: @Model.Id</li>
        <li>Nome: @Model.Titolo</li>
        <li>Descrizione: @Model.Descrizione</li>
        <li>Categorie: @Model.TutteLeCategorie()</li>
        <li>Visibile: @Model.Visibile</li>
        
        <li>Immagine: <img style="width:200px;" src="@Model.ImgSrc">
        </li>
    </ul>

</div>