@model List<Foto>
@{
    ViewData["Title"] = "Foto";
}


<div class="text-center container-xxl">
    <h1 style="color: var(--my-text-color-primary);">@ViewData["Title"]</h1>


    <div class="d-flex justify-content-between mb-3">
        @if (User.IsInRole("Admin"))
        {
            <a href="@Url.Action("Index", "Categoria")" class="btn btn-primary me-md-2 text-white">Mostra le categorie</a>
            <input type="text" id="Filter" placeholder="Filtra per Titolo" />
            <a href="@Url.Action("Create", "Foto")" class="btn btn-primary me-md-2 text-white">Aggiungi Foto</a>
        }
    </div>
    @if (Model.Count == 0)
    {
        <h2 class="bg-gradient">Nessuna Foto disponibile</h2>
    }
    else
    {

        <table class="table border-0">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Titolo</th>
                    <th class="d-none d-md-table-cell" scope="col">Descrizione</th>
                    <th  scope="col">Visibile</th>
                    <th class="d-none d-md-table-cell" scope="col">Immagine</th>

                    @if (User.IsInRole("Admin"))
                    {
                        <th scope="col">Dettaglio</th>
                        <th scope="col">Modifica</th>
                        <th scope="col">Elimina</th>
                    }

                </tr>
            </thead>
            <tbody style="vertical-align:unset;">
                @{
                    int i = 1;
                    foreach (var item in Model)
                    {

                                <tr class="MyFoto">
                                    <th scope="row">@i</th>
                                    <td class="FilterText">@item.Titolo</td>
                                    <td class="d-none d-md-table-cell">@item.Descrizione</td>
                                    @if (item.Visibile)
                                    {
                                        <td><i class="bi bi-check-lg"></i></td>
                                    }
                                    else
                                    {
                                        <td><i class="bi bi-x-lg"></i></td>
                                    }


                                    @if (item.ImageFile == null)
                                    {
                                        <td class="d-none d-md-table-cell">
                                            <img style="width: 150px; height: 100px" src="~/img/image-nofound.jpg" alt=@item.Titolo>
                                        </td>
                                    }
                                    else
                                    {
                                        <td class="d-none d-md-table-cell">
                                            <img style="width: 150px; height: 100px" src="@item.ImgSrc" alt=@item.Titolo>
                                        </td>
                                    }
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <td>
                                            <a class="text-black" href="@Url.Action("Details", "Foto", new { id=item.Id} )"> <i class="bi bi-ticket-detailed"></i> </a>
                                        </td>

                                        <td>
                                            <a class="text-black" href="@Url.Action("Update", "Foto", new { id=item.Id} )"> <i class="bi bi-pencil-square"></i> </a>
                                        </td>
                                        <td class="d-flex align-items-center justify-content-around border-0">
                                            <form asp-controller="Foto" asp-action="Delete" asp-route-id="@item.Id" method="post">
                                                @Html.AntiForgeryToken()
                                                <button type="submit" class="btn"><i class="bi bi-trash"></i> </button>
                                            </form>
                                        </td>

                                    }

                                </tr>

                        i++;
                    }
                }
            </tbody>
        </table>
    }
</div>
<script>
    document.getElementById('Filter').addEventListener('keyup', function () {
        var filter = this.value.toLowerCase();
        var fotos = document.querySelectorAll('.MyFoto');
        fotos.forEach(function (foto) {
            var text = foto.querySelector('.FilterText').innerText.toLowerCase();
            if (text.includes(filter)) {
                foto.classList.remove('d-none');
            } else {
                foto.classList.add('d-none');
            }
        });

    });
</script>